{% extends 'base.html.twig' %}

{% block title %}Edit InstanceStatuses{% endblock %}

{% block body %}
    <h1>Edit InstanceStatuses</h1>

    {{ include('instance_statuses/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_instance_statuses_index') }}">back to list</a>

    {{ include('instance_statuses/_delete_form.html.twig') }}
{% endblock %}
