parameters:
    symfony:
#        containerXmlPath: var/cache/dev/srcDevDebugProjectContainer.xml
        # or with Symfony 4.2+
#        containerXmlPath: var/cache/dev/srcApp_KernelDevDebugContainer.xml
        # or with Symfony 5+
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    # If you're using PHP config files for Symfony 5.3+, you also need this for auto-loading of `Symfony\Config`:
    scanDirectories:
        - var/cache/dev/Symfony/Config
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
#            - '#^Property [a-zA-Z0-9\\_]+::\$logger has no type specified\.$#'
#            - '#^Property [a-zA-Z0-9\\_]+::\$entityManager has no type specified\.$#'
#            - '#^Property [a-zA-Z0-9\\_]+::\$environmentService has no type specified\.$#'
    doctrine:
        objectManagerLoader: tests/object-manager.php
    level: 9
    paths:
        - src/
        - tests/