{% extends 'base.html.twig' %}

{% block title %}New Domains{% endblock %}

{% block body %}
    <h1>Create new Domains</h1>

    {{ include('domains/_form.html.twig') }}

    <a href="{{ path('app_domains_index') }}">back to list</a>
{% endblock %}
