<form method="post" action="{{ path('app_environments_skip', {'hash': environment.hash}) }}" onsubmit="return confirm('Are you sure you want to skip this env?');">
    <input type="hidden" name="_token" value="{{ csrf_token('skip' ~ environment.hash) }}">
    <button class="btn">Skip</button>
</form>
