<form method="post" action="{{ path('app_operating_systems_delete', {'id': operating_system.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ operating_system.id) }}">
    <button class="btn">Delete</button>
</form>
<!--
<form method="post" action="{{ path('app_operating_systems_delete_cascade', {'id': operating_system.id}) }}" onsubmit="return confirm('Are you sure you want to cascade delete this item and all the corresponging records?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_cascade' ~ operating_system.id) }}">
    <button class="btn">Cascade Delete</button>
</form>
-->