{% extends 'base.html.twig' %}

{% block title %}Edit Technologies{% endblock %}

{% block body %}
    <h1>Edit Technologies</h1>

    {{ include('technologies/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_technologies_index') }}">back to list</a>

    {{ include('technologies/_delete_form.html.twig') }}
{% endblock %}
