<form method="post" action="{{ path('app_session_statuses_delete', {'id': session_status.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session_status.id) }}">
    <button class="btn">Delete</button>
</form>
