{% extends 'base.html.twig' %}

{% block title %}New HardwareProfiles{% endblock %}

{% block body %}
    <h1>Create new HardwareProfiles</h1>

    {{ include('hardware_profiles/_form.html.twig') }}

    <a href="{{ path('app_hardware_profiles_index') }}">back to list</a>
{% endblock %}
