{% extends 'base.html.twig' %}

{% block title %}New SessionOses{% endblock %}

{% block body %}
    <h1>Create new SessionOses</h1>

    {{ include('session_oses/_form.html.twig') }}

    <a href="{{ path('app_session_oses_index') }}">back to list</a>
{% endblock %}
