{% extends 'base.html.twig' %}

{% block title %}Edit InstanceTypes{% endblock %}

{% block body %}
    <h1>Edit InstanceTypes</h1>

    {{ include('instance_types/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_instance_types_index') }}">back to list</a>

    {{ include('instance_types/_delete_form.html.twig') }}

{% endblock %}
