{% extends 'base.html.twig' %}

{% block title %}New InstanceTypes{% endblock %}

{% block body %}
    <h1>Create new InstanceTypes</h1>

    {{ include('instance_types/_form.html.twig') }}

    <a href="{{ path('app_instance_types_index') }}">back to list</a>
{% endblock %}
