{% extends 'base.html.twig' %}

{% block title %}New Instances{% endblock %}

{% block body %}
    <h1>Create new Instances</h1>

    {{ include('instances/_form.html.twig') }}

    <a href="{{ path('app_instances_index') }}">back to list</a>
{% endblock %}
