{% extends 'base.html.twig' %}

{% block title %}Edit Breeds{% endblock %}

{% block body %}
    <h1>Edit Breeds</h1>

    {{ include('breeds/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_breeds_index') }}">back to list</a>

    {{ include('breeds/_delete_form.html.twig') }}
{% endblock %}
