{% extends 'base.html.twig' %}

{% block title %}New Breeds{% endblock %}

{% block body %}
    <h1>Create new Breeds</h1>

    {{ include('breeds/_form.html.twig') }}

    <a href="{{ path('app_breeds_index') }}">back to list</a>
{% endblock %}
