{% extends 'base.html.twig' %}

{% block title %}Edit TaskTechs{% endblock %}

{% block body %}
    <h1>Edit TaskTechs</h1>

    {{ include('task_techs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_task_techs_index') }}">back to list</a>

    {{ include('task_techs/_delete_form.html.twig') }}
{% endblock %}
