{% extends 'base.html.twig' %}

{% block title %}New TaskTechs{% endblock %}

{% block body %}
    <h1>Create new TaskTechs</h1>

    {{ include('task_techs/_form.html.twig') }}

    <a href="{{ path('app_task_techs_index') }}">back to list</a>
{% endblock %}
